body {
  outline: none;
}
.input-check {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #ffffff;
  width: 100%;
  margin-top: 16px;
  /* border: 2px solid red; */
}
.strike {
  text-decoration: line-through;
}
.bg-container {
  background-image: url("../public/images/bg-desktop-light.jpg");
  background-position: bottom;
  background-size: cover;
  height: 25vh;
  justify-content: center;
  align-items: flex-end;
}
.bg-container-dark {
  background-image: url("../public/images/bg-desktop-dark.jpg");
  background-position: bottom;
  background-size: cover;
  height: 25vh;
  justify-content: center;
  align-items: center;
}
.main-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100vw;
}
.itemTextValue {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-left: 12px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: 2px solid grey;
  background-color: #ffffff;
  margin-top: 25px;
}
.todo-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-top: 25px;
  /* border: 2px solid blue; */
}
.heading {
  color: #ffffff;
}
.section-container {
  width: 40%;
}
.ulmain-container {
  width: 100%;
  height: 100%;
}
.ul-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ul-container-dark {
  display: flex;
  flex-direction: column;
  background-color: #191970;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.li-container {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 12px;
  border: 2px solid gray;
  margin-bottom: 7px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.li-container-dark{
  background-color: #191970;
  display: flex;
  align-items: center;
  width: 90%;
  padding: 12px;
  border: 2px solid gray;
  margin-bottom: 7px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  
}
.input-check-box{
  margin-right: 5px;
}
.delete-image{
  margin-left: auto;
}
.label {
  width: 100%;
  /* border: 2px solid salmon; */
}
.status-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.sub-status-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid pink; */
}
.button {
  font-size: 18px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 12px;
  margin-left: 50px;
}
.footer-container{
  display: flex;
  margin-right: auto;
  align-items: center;
  width: 105%
}
.footer-container-dark{
  display: flex;
  background-color: #191970;
  margin-right: auto;
  align-items: center;
  width: 105%
}
.statusContainer{
  margin-left: 20px;
  list-style-type: none;
}
.statusContainer-dark{
  background-color: #191970;
  color: #ffffff;
  margin-left: 20px;
  list-style-type: none;
}

.bottom-container {
  background-color: #ececec;
  height: 75vh;
}
.bottom-container-dark {
  background-color: black;
  height: 75vh;
}
.counterValue-dark{
  color: #ffffff;
  width:40%
}
.counterValue{
  color: #191970;
  width:40%
}
